<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/breadList.js}"></script>
    <link th:href="@{/css/commonList.css}" rel="stylesheet">

    <title>빵 목록</title>
</head>
<body>
<h1>빵 목록</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>칼로리</th>
        <th>가격</th>
        <th>이미지</th>
        <th>상태</th>
        <th>수정</th>  <!-- ✅ 수정 버튼 컬럼 추가 -->
    </tr>
    </thead>
    <tbody id="breadTableBody">
    <tr th:each="bread : ${breads}">
        <td th:text="${bread.uid}"></td>
        <td th:text="${bread.breadName}"></td>
        <td th:text="${bread.calorie}"></td>
        <td th:text="${bread.price}"></td>
        <td><img th:src="${bread.img}" alt="빵 이미지" width="50"></td>
        <td th:text="${bread.status}"></td>
        <td>
            <a th:href="@{/breads/edit/{breadName}(breadName=${bread.breadName})}">수정</a>

        </td>
        <td>

            <button class="delete-btn" th:data-breadname="${bread.breadName}">삭제</button>

        </td>

    </tr>
    </tbody>
</table>
<br>
<button onclick="location.href='/breads/admin'">새 빵 등록</button>
<button onclick="location.href='/admin'" style="margin-left: 10px;">메인으로 가기</button>
</body>
</html>
